<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Roles</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rancho&display=swap">
  <link rel="stylesheet" href="rol.component.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- Añadir Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> <!-- Añadir Bootstrap JS -->
</head>
<body>

  <!---------NAVIGATION------>
  <app-navbar></app-navbar>
  <app-sidebar></app-sidebar>
  <!------------------sidebar end----------->

  <div class="wrapper">
    <!-- Contenido principal -->
    <div class="main-content">
      <div class="header">
        <div class="title">
          <h1>Tabla de Roles</h1>
        </div>
      </div>

      <div class="actions">
        <input type="text" placeholder="Buscar roles..." (input)="buscarRol($event)" class="search-input">
        <div class="btn-group dropright">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Descargar roles
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#" (click)="descargarLista('pdf')">Descargar PDF</a></li>
            <li><a class="dropdown-item" href="#" (click)="descargarLista('excel')">Descargar Excel</a></li>
          </ul>
        </div>
      </div>

      <table class="rol-table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rol of rolesFiltrados">
            <td>{{rol.id}}</td>
            <td>{{rol.name}}</td>
            <td>{{rol.description}}</td>
            <td>
              <div class="actions">
                <a [routerLink]="['/visualizar-rol', rol.id]" class="btn btn-primary btn-visualize" title="Ver rol">
                  <i class="fa-solid fa-eye"></i>
                </a>
                <a [routerLink]="['/actualizar-rol', rol.id]" class="btn btn-primary btn-update" title="Editar rol">
                  <i class="fa-solid fa-pen"></i>
                </a>
                <a [routerLink]="['/eliminar-rol', rol.id]" class="btn btn-primary btn-delete" title="Eliminar rol">
                  <i class="fa-solid fa-trash"></i>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Botón "Agregar nuevo" en la parte inferior derecha -->
      <a [routerLink]="['/agregar-rol']" class="btn btn-primary btn-success" title="Agregar un nuevo rol">
        Agregar rol
        <i class="fa-solid fa-plus"></i>
      </a>
    </div>
  </div>
</body>
</html>
