/* General Body Styles */
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: #000;
  height: 100%;
  background-color: rgb(45, 49, 66);
  display: flex;
  min-height: 100vh;
  overflow: hidden; /* Esto se puede mantener si quieres evitar el desplazamiento del body */
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(145, 142, 244, 0.4);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* Sidebar Styles */
.sidebar {
  width: 250px;
  height: 100vh; /* Asegúrate de que la barra lateral ocupe toda la altura de la ventana */
  background: rgba(191, 192, 192, 0.2);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  position: fixed; /* Mantener el sidebar fijo */
  top: 0; /* Fijar en la parte superior */
  left: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Permitir el desplazamiento interno en el sidebar si el contenido excede la altura */
}

/* Sidebar Header */
.sidebar-header {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto para resaltar */  font-weight: bold;
  font-size: 1.25rem
}

.sidebar-header .badge {
  background-color: #000;
  padding: 5px;
  border-radius: 4px;
  margin-left: 5px;
}

.sidebar hr {
  margin: 1rem 0;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

/* Sidebar Menu Links */
.sidebar-menu {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Permitir el desplazamiento de los enlaces de menú si es necesario */
}

.link {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.link:hover,
.link.active {
  background-color: rgba(85, 40, 111, 0.35);
  color: #fff;
}

.link i {
  margin-right: 10px;
}

/* Sidebar Footer (User Profile) */
.sidebar-footer {
  display: flex;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.sidebar-footer .profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.sidebar-footer .username {
  color: #cfd8dc;
}

/* Main Container */
.wrapper {
  max-width: 1000px;
  margin: 100px auto 50px auto;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px; /* Espacio para el navbar */
}

.header {
  text-align: center;
  color: rgb(21,25,21);
  padding: 10px 0;
  font-family: "Raleway", sans-serif;

  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 2px 5px #ffffff;
}

/* Actions Container */
.actions {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

/* Table Styles */
.table {
  width: 80%;
  padding: 20px;
  border: 1px solid aliceblue;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-size: 0.8rem;
  padding-top: 2%;
  min-height: 400%;
}

.rol-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.rol-table th,
.rol-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.rol-table th {
  background-color: rgb(30, 30, 31);
  color: #fff;
  text-align: center;
}

.rol-table td {
  background-color : rgb(255, 255, 255);
  color: #000;
}

/* Action Buttons */
.btn-visualize {
  color: rgb(245, 187, 0);
  background-color: rgba(236, 159, 5, 0.3);
  border: none;
}

.btn-add {
  background-color: rgba(5, 178, 220, 0.3);
  color: rgb(5, 178, 220);
  border: none;
}

.btn-update {
  background-color: rgba(133, 255, 158, 0.3);
  color: #36CB7C;
  border: none;
}

.btn-delete {
  background-color: rgba(221, 13, 30, 0.3);
  color: #DD0D1E;
  border: none;
}

/* Search Input */
.search-input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Responsive Sidebar */
@media (max-width: 900px) {
  i {
    font-size: 14px;
  }

  .sidebar {
    width: 80px;
  }

  .sidebar-header h3,
  .link .text {
    display: none;
  }
}
