<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Actualizar Producto</title>
</head>
<body>

<div class="wrapper">
  <form (ngSubmit)="actualizarProducto()">
    <h1 class="text-center">Actualizar Producto</h1>

    <!-- Campo para editar el nombre del producto -->
    <div class="form-group mb-3">
      <label for="nombreInput" class="form-label">Nombre del producto</label>
      <input type="text" class="form-control" id="nombreInput" name="nombre" [(ngModel)]="nombre" required>
    </div>

    <!-- Campo para editar la descripción del producto -->
    <div class="form-group mb-3">
      <label for="descripcionInput" class="form-label">Descripción del producto</label>
      <input type="text" class="form-control" id="descripcionInput" name="descripcion" [(ngModel)]="descripcion" required>
    </div>

    <!-- Campo para editar la existencia del producto -->
    <div class="form-group mb-3">
      <label for="existenciaInput" class="form-label">Existencia del producto</label>
      <input type="number" class="form-control" id="existenciaInput" name="existencia" [(ngModel)]="existencia" required>
    </div>

    <!-- Campo para editar la categoría del producto -->
    <div class="form-group mb-3">
      <label for="categoriaInput" class="form-label">Categoría</label>
      <select class="form-control" id="categoriaInput" name="categoriaId" [(ngModel)]="categoriaId" required>
        <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.name }}</option>
      </select>
    </div>


    <!-- Campo para editar el precio del producto -->
    <div class="form-group mb-3">
      <label for="precioInput" class="form-label">Precio del producto</label>
      <input type="number" class="form-control" id="precioInput" name="precio" [(ngModel)]="precio" required>
    </div>

    <!-- Botón para guardar los cambios -->
    <div class="text-center">
      <button type="button" class="btn-add" (click)="actualizarProducto()">Guardar</button>
      <button type="button" class="btn-cancel" routerLink="/producto">Cancelar</button>
    </div>
  </form>
</div>

</body>
</html>
