/* Fondo con gradiente y configuración básica para el cuerpo */
body {
  background-color: rgb(45, 49, 66); /* Color de fondo principal */
  margin: 0; /* Eliminar márgenes predeterminados */
  display: flex; /* Usar Flexbox para centrar */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  min-height: 100vh; /* Establecer una altura mínima del 100% del viewport */
  overflow: hidden; /* Ocultar el desbordamiento vertical */
}

/* Estilos para el título */
h1 {
  font-size: 2em; /* Tamaño del texto */
  margin-bottom: 2rem; /* Espacio debajo del título */
  text-align: center; /* Alineación del texto */
  color: #fff; /* Color del texto */
  font-family: 'Arial', sans-serif; /* Fuente del texto */
}

/* Contenedor principal centrado */
.wrapper {
  display: flex; /* Usar Flexbox para alinear el contenido */
  flex-direction: column; /* Organizar elementos en columna */
  justify-content: center; /* Centrar los elementos internos */
  align-items: center; /* Centrar horizontalmente */
  background: rgba(255, 255, 255, 0.12); /* Fondo semitransparente */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra más suave */
  padding: 3%; /* Espaciado interno */
  width: fit-content; /* Ancho del contenedor */
}

/* Estilos para el formulario */
.form-group {
  color: #ffffff; /* Color del texto */
  font-size: 1em; /* Tamaño del texto */
}

input, select {
  background-color: rgba(255, 255, 255, 0.5); /* Fondo más claro para mejorar la legibilidad */
  color: #333; /* Texto gris oscuro */
  border-radius: 5px; /* Bordes redondeados */
  border: 1px solid #ccc; /* Borde sólido */
  width: 100%; /* Ancho completo */
  height: 40px; /* Altura del input */
  padding: 8px; /* Espaciado interno */
  font-size: 1em; /* Tamaño del texto */
}

textarea {
  background-color: rgba(255, 255, 255, 0.12); /* Fondo semitransparente para el textarea */
  color: #333; /* Texto gris oscuro */
  border-radius: 5px; /* Bordes redondeados */
  border: 1px solid #ccc; /* Borde sólido */
  width: 100%; /* Ancho completo */
  height: 80px; /* Altura similar al input */
  padding: 8px; /* Espaciado interno */
  font-size: 1em; /* Tamaño del texto */
  resize: none; /* Desactivar la opción de redimensionar */
}

/* Estilo para el botón de guardar */
button {
  background-color: #2532a3d5; /* Fondo del botón */
  color: #fff; /* Color del texto */
  font-size: 1em; /* Tamaño del texto */
  padding: 0.8rem 1.5rem; /* Espaciado interno */
  border: none; /* Eliminar borde por defecto */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  transition: background-color 0.3s; /* Transición suave al cambiar el color de fondo */
  margin: 1rem; /* Espacio en todos los lados */
}

button:hover {
  background-color: #523A78; /* Cambio de color al pasar el ratón */
}
