<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agregar Pedido</title>
</head>
<body>

<div class="wrapper">
  <form (ngSubmit)="guardarPedido() ">

    <h1 class="text-center">Agregar Pedido</h1>

    <div class="form-group mb-3">
      <label for="orderId" class="form-label">ID del Pedido</label>
      <input type="text" class="form-control" id="orderId" placeholder="Ingrese el ID del pedido" name="orderId" [(ngModel)]="id" required>
    </div>

    <div class="form-group mb-3">
      <label for="orderDate" class="form-label">Fecha del Pedido</label>
      <input type="date" class="form-control" id="orderDate" name="orderDate" [(ngModel)]="orderDate" required>
    </div>

    <div class="form-group mb-3">
      <label for="descriptionInput" class="form-label">Descripción del Pedido</label>
      <input type="text" class="form-control" id="descriptionInput" placeholder="Ingrese la descripción del pedido" name="description" [(ngModel)]="description" required>
    </div>

    <div class="form-group mb-3">
      <label for="statusInput" class="form-label">Estado</label>
      <select class="form-control" id="statusInput" name="status" [(ngModel)]="status" required>
        <option value="pendiente">Pendiente</option>
        <option value="completado">Completado</option>
        <option value="cancelado">Cancelado</option>
      </select>
    </div>

    <div class="form-group mb-3">
      <label for="expectedDeliverDate" class="form-label">Fecha de Entrega Esperada</label>
      <input type="date" class="form-control" id="expectedDeliverDate" name="expectedDeliverDate" [(ngModel)]="expectedDeliverDate" required>
    </div>

    <div class="form-group mb-3">
      <label for="deliverDate" class="form-label">Fecha de Entrega</label>
      <input type="date" class="form-control" id="deliverDate" name="deliverDate" [(ngModel)]="deliverDate" required>
    </div>

    <h2>Detalle del Pedido</h2>

    <div class="form-group mb-3">
      <h5>Producto</h5>

      <label for="productId" class="form-label">Seleccionar Producto</label>
      <select class="form-control" id="productId" [(ngModel)]="detail.product.id" name="productId" (change)="actualizarPrecio()" required>
        <option value="">Seleccione un producto</option>
        <option *ngFor="let product of products" [value]="product.id">{{ product.name }}</option>
      </select>

      <label for="qty" class="form-label">Cantidad</label>
      <input type="number" class="form-control" id="qty" [(ngModel)]="detail.qty" name="qty" (input)="calcularTotal()" required>

      <label for="unitPrice" class="form-label">Precio Unitario</label>
      <input type="number" class="form-control" id="unitPrice" [(ngModel)]="unitPrice" name="unitPrice" readonly>

      <label for="price" class="form-label">Total</label>
      <input type="number" class="form-control" id="price" [(ngModel)]="detail.price" name="price" readonly>

    </div>

    <div class="text-center">
      <button type="submit" class="btn-add">Guardar</button>
      <button type="button" class="btn-cancel" routerLink="/pedido">Cancelar</button>
    </div>
  </form>
</div>

</body>
</html>
