* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(45, 49, 66);/* Color de fondo del navbar */
  backdrop-filter: blur(15px); /* Incrementa el desenfoque */
  position: fixed;
  width: calc(100% - 250px); /* Ajusta el ancho para dejar espacio a la sidebar */
  top: 0;
  left: 250px; /* Posiciona la navbar a la derecha de la sidebar */
  z-index: 1000;
  border-left: none;
}


.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.user-icon {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.user-icon:hover {
  color: #f0f0f0;
}

.navbar i {
  transition: transform 0.3s ease;
}

.navbar i:hover {
  transform: scale(1.1);
}


.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.user-icon {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.user-icon:hover {
  color: #f0f0f0;
}

.navbar i {
  transition: transform 0.3s ease;
}

.navbar i:hover {
  transform: scale(1.1);
}
