.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(145, 142, 244, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-brand{
  color: #fff;
  font-size: 1.5em;
  font-size: bold;

}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

.logo {
  margin-left: 2%;
  align-items: center;
  font-size: 2em;
  font-weight: 700;
  color: #fff;
}

.user-icon {
  font-size: 1.5em;
  margin-left: auto;
  color: #fff;
}

.user-icon:hover {
  color: #f0f0f0;
}

.navbar i {
  transition: transform 0.3s ease;
}

.navbar i:hover {
  transform: scale(1.1);
}
