* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.2); /* Efecto transparente */
  backdrop-filter: blur(10px); /* Un poco de desenfoque */
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.user-icon {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.user-icon:hover {
  color: #f0f0f0;
}

.navbar i {
  transition: transform 0.3s ease;
}

.navbar i:hover {
  transform: scale(1.1);
}


.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.user-icon {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.user-icon:hover {
  color: #f0f0f0;
}

.navbar i {
  transition: transform 0.3s ease;
}

.navbar i:hover {
  transform: scale(1.1);
}
