<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eliminar Factura</title>
</head>
<body>

<div class="wrapper">
  <form (ngSubmit)="eliminarFactura()">
    <h1 class="text-center">Eliminar Factura</h1>
    <div class="form-group mb-3">
      <label for="rucInput" class="form-label">RUC de la factura</label>
      <input type="text" class="form-control" id="rucInput" name="ruc" [value]="factura?.ruc" readonly>
    </div>
    <div class="text-center">
      <button type="submit" class="btn-delete">Eliminar</button>
      <button type="button" class="btn-cancel" routerLink="/factura">Cancelar</button>
    </div>
  </form>
</div>

</body>
</html>
