<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabla de Inventario</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rancho&display=swap">
  <link rel="stylesheet" href="incoming-stock.component.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
 <!-------NAVIGATION-->
 <app-navbar></app-navbar>
  <app-sidebar></app-sidebar>

  <!-----------Table----------------->

  <div class="wrapper">
    <div class="main-content">
    <div class="header">
      <div class="title">
        <h1>Tabla de Inventario</h1>
      </div>
    </div>
    <div class="actions">
      <input type="text" placeholder="Buscar categorías..." (input)="searchStock($event)" class="search-input">
      <div class="btn-group dropright">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          Descargar inventario
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#" (click)="downloadList('pdf'); $event.preventDefault()">Descargar PDF</a></li>
          <li><a class="dropdown-item" href="#" (click)="downloadList('excel'); $event.preventDefault()">Descargar Excel</a></li>
        </ul>
      </div>
    </div>

    <table class="stock-table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Fecha de entrada</th>
          <th>Ingrediente</th>
          <th>Cantidad</th>
          <th>Proveedor</th>
          <th>Monto pagado</th>
          <!-- <th>Usuario</th> -->
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stock of filteredStocks">
          <td>{{stock.id}}</td>
          <td>{{stock.entryDate | date: 'short'}}</td>
          <td>{{stock.ingredient.name}}</td>
          <td>{{stock.qty}}</td>
          <td>{{stock.provider.name}}</td>
          <td>{{stock.paidAmount | currency}}</td>
          <!-- <td>{{stock.recordUser}}</td> -->
          <td>
            <div class="actions">
              <a [routerLink]="['/view-stock', stock.id]" class="btn btn-primary btn-visualize" title="Ver Entrada">
                <i class="fa-solid fa-eye"></i>
              </a>
              <a [routerLink]="['/actualizar-incoming-stock', stock.id]"  class="btn btn-primary btn-update" title="Editar Entrada">
                <i class="fa-solid fa-pen"></i>
              </a>
              <a [routerLink]="['/eliminar-incoming-stock', stock.id]"  class="btn btn-primary btn-delete" title="Eliminar Entrada">
                <i class="fa-solid fa-trash"></i>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <a [routerLink]="['/add-stock']" class="btn btn-primary btn-success" title="Agregar entrada ">Agregar entrada
      <i class="fa-solid fa-plus"></i>
    </a>
  </div>
  </div>
</body>
</html>
