/* Estilos básicos para la página */
body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif; /* Fuente principal */
  color: #000; /* Color de texto principal */
  min-height: 100vh;
  background-color: rgb(45, 49, 66); /* Color de fondo de la página */
  display: flex;
  flex-direction: column;
}

/* Estilos para la barra lateral */
.sidebar {
  width: 250px;
  height: 100vh;
  background: rgba(191, 192, 192, 0.2); /* Fondo semitransparente */
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* Estilos para el encabezado y título */
.header .title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Estilos para el contenedor principal */
.wrapper {
  margin: 0 auto;
  padding: 0 40px;
  border-radius: 4px;
  background-color: rgb(45, 49, 66); /* Fondo del contenedor */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  max-width: 1200px; /* Ancho máximo del contenedor */
}

/* Estilos para el contenido principal */
.main-content {
  width: 100%;
  padding: 20px 30px;
  background-color: #fff; /* Fondo blanco */
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Sombra */
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  margin-top: 110px; /* Espacio superior para evitar choque con el navbar */
}

/* Contenedor para tablas con scroll horizontal */
.table-responsive {
  width: auto;
  overflow-x: auto; /* Habilita scroll horizontal */
  margin: 0 auto;
  padding: 0 20px;
  padding-right: 20px;
}

/* Estilos para la tabla de ingredientes */
.table-ingredient {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
  max-width: 1100px; /* Ancho máximo de la tabla */
}

.table-ingredient th,
.table-ingredient td {
  padding: 0.5rem;
  border-bottom: 1px solid #ddd; /* Línea divisoria */
  text-align: center;
  word-wrap: break-word; /* Ajusta texto largo */
}

.table-ingredient th {
  background-color: rgb(30, 30, 31); /* Fondo de encabezado */
  color: #fff; /* Color de texto en el encabezado */
}

/* ----------Estilos responsivos para adaptarse a pantallas de distintos tamaños----------- */

/* Para pantallas de hasta 2500px de ancho */
@media (max-width: 2500px) {
  .sidebar {
    width: auto;
  }

  .wrapper {
    margin-left: 300px;
    width: calc(100% - 300px);
  }

  .main-content {
    max-width: 2000px;
  }

  .table-ingredient {
    max-width: 1800px;
  }
}

/* Para pantallas de hasta 1200px de ancho */
@media (max-width: 1200px) {
  .sidebar {
    width: 200px;
  }

  .wrapper {
    margin-left: 200px;
    width: calc(100% - 200px);
  }

  .main-content {
    max-width: 1000px;
  }

  .table-ingredient {
    max-width: 900px;
  }
}

/* Para pantallas de hasta 992px de ancho */
@media (max-width: 992px) {
  .sidebar {
    width: 150px;
  }

  .wrapper {
    margin-left: 150px;
    width: calc(100% - 150px);
  }

  .main-content {
    max-width: 800px;
  }

  .table-ingredient {
    max-width: 700px;
  }
}

/* Para pantallas de hasta 768px de ancho */
@media (max-width: 768px) {
  .sidebar {
    width: 120px;
  }

  .wrapper {
    margin-left: 120px;
    width: calc(100% - 120px);
  }

  .main-content {
    max-width: 700px;
  }

  .table-ingredient {
    max-width: 650px;
    font-size: 12px; /* Reduce tamaño de fuente */
    padding: 0.5rem;
  }
}

/* Para pantallas de hasta 600px de ancho */
@media (max-width: 600px) {
  .sidebar {
    width: 100px;
  }

  .wrapper {
    margin-left: 100px;
    width: calc(100% - 100px);
  }

  .main-content {
    max-width: 600px;
  }

  .table-ingredient {
    max-width: 600px;
    font-size: 10px; /* Reduce tamaño de fuente */
    padding: 0.5rem;
  }
}

/* Para pantallas de hasta 480px de ancho */
@media (max-width: 480px) {
  .main-content {
    padding: 5px;
  }

  .table-ingredient th,
  .table-ingredient td {
    padding: 10px;
  }

  .search-input {
    width: 100%;
  }
}

/* ----------Estilos para los botones de acción en la tabla----------- */
.btn-visualize {
  color: rgb(245, 187, 0);
  background-color: rgba(236, 159, 5, 0.3);
  border: none;
}

.btn-update {
  background-color: rgba(133, 255, 158, 0.3);
  color: #36cb7c;
  border: none;
}

.btn-delete {
  background-color: rgba(221, 13, 30, 0.3);
  color: #dd0d1e;
  border: none;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 0.5rem; /* Reducir el espacio entre los elementos */
}

/* Estilos para el botón de menú desplegable */
#dropdownMenuButton {
  background-color: #198754;
  border-color: #28a745;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#dropdownMenuButton:hover {
  background-color: #157347;
  border-color: #1e7e34;
}

/* Estilos para el campo de entrada de búsqueda */
.search-input {
  width: 100%;
  max-width: 800px;
  padding: 10px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Estilos para el botón de éxito */
.btn-success {
  background-color: rgb(0, 108, 231);
  color: #ffffff;
  border: none;
}

.btn-success:hover {
  background-color: rgb(1, 173, 150); /* Color de fondo al pasar el mouse */
}
