/* Fondo con gradiente y configuración básica para el cuerpo */
body {
  background: rgb(45, 49, 66); /* Fondo con gradiente */
  margin: 0; /* Eliminar márgenes predeterminados */
  display: flex; /* Usar Flexbox para centrar */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  min-height: 100vh; /* Establecer una altura mínima del 100% del viewport */
  overflow: hidden; /* Ocultar el desbordamiento vertical */
  color: #000;
}

/* -------------NAVBAR-------------- */
/* -------------NAVBAR-------------- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(145, 142, 244,0.4);
  /* background: linear-gradient(to bottom, rgba(52, 35, 166, 0.8), rgba(254, 180, 123, 0.8)); */

  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.user-icon {
  margin-left: auto; /* Asegura que el icono esté al final del navbar */
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease;
  position: relative;
}

.user-icon:hover {
  color: #f0f0f0;
}

.navbar i {
  transition: transform 0.3s ease;
}

.navbar i:hover {
  transform: scale(1.1);
}

/* Estilos para el título */
h1 {
  font-size: 1.5em; /* Tamaño del texto */
  margin-bottom: 1rem;
  text-align: center; /* Alineación del texto */
  color: #000; /* Color del texto */
  font-family: 'Arial', sans-serif; /* Fuente del texto */
  font-weight: bold;
}

/* Contenedor principal centrado */
.wrapper {
  margin-top: 3%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: column; /* Organizar elementos en columna */
  justify-content: center; /* Centrar los elementos internos */
  align-items: center; /* Centrar horizontalmente */
  background: #fff; /* Fondo semitransparente */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 10px rgba(126, 19, 19, 0.1); /* Sombra sutil */
  padding: 3%; /* Espaciado interno */
  width: fit-content; /* Ancho del contenedor */
height: auto;
padding-bottom: 3%;
}

/* Estilos para el formulario */
form-group {
  color: #000; /* Color del texto */
  font-size: 1em; /* Tamaño del texto */
}

input {
  background-color: rgba(255, 255, 255, 0.12); /* Fondo gris claro */
  color: #333; /* Texto gris oscuro */
  border-radius: 5px; /* Bordes redondeados */
  border: 1px solid #ccc; /* Borde sólido */
  width: 100%;
  height: 40px;
  padding: 5px;
  font-size: 0.9em;
}

.form-label{
  color:#000;
  font-size: 0.9em;
}
/* Estilo para el botón */
button {
  background-color: rgb(221, 13, 30);
  border: 3em solid rgb(221, 13, 30);

  font-size: 1.1em;/* Tamaño del texto */
  padding: 0.8rem 1.5rem; /* Espaciado interno */
  border: none; /* Eliminar borde por defecto */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  transition: background-color 0.3s; /* Transición suave al cambiar el color de fondo */
}

button:hover {
  background-color: rgb(221, 13, 30, 0.3);
  color: #DD0D1E; /* Cambio de color al pasar el ratón */
}
