<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap">
  <link rel="stylesheet" href="login.component.css">
</head>
<body>
  <div class="wrapper">
    <!-- Agregar la imagen justo antes del formulario -->
    <!-- <img src="../login/donibitesimage.png" alt="Imagen de DoniBites" class="logo-image"> -->

    <h1>Bienvenido/a a
      DoniBites
    </h1>
    <form (ngSubmit)="iniciarSesion()">
      <h1 class="text-center">Inicie Sesión</h1>
      <div class="form-group mb-3">
        <label for="usernameInput" class="form-label">Usuario</label>
        <input type="text" class="form-control" id="usernameInput" [(ngModel)]="username" name="username" required>
      </div>
      <div class="form-group mb-3">
        <label for="passwordInput" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="passwordInput" [(ngModel)]="password" name="password" required>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary btn-add">Iniciar Sesión</button>
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
    </form>
    <div class="log2 text-center">
      <!-- Otros elementos del login -->
      <br>
      <a href="/recuperar-pwd" routerLink="/recuperar-pwd" class="link-light">¿Ha olvidado su contraseña?</a>
    </div>
  </div>
</body>
</html>
