<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DoniBites</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rancho&display=swap">
  <link rel="stylesheet" href="menu.component.css">
</head>
<body>

  <!-- Barra de Navegación -->
  <!-- <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown link
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>

    </div>
  </nav> -->

<!-- <app-navbar></app-navbar> -->
  <!--------------Side bar------------------->
  <app-sidebar></app-sidebar>

  <!------------------------------------->
  <div class="container">

    <h1>Menu</h1>
    <div class="btn-group-grid">


      <button type="button" class="btn" routerLink="/usuario">Usuarios</button>
      <button type="button" class="btn" routerLink="/producto">Productos</button>
      <button type="button" class="btn" routerLink="/categoria">Categorias</button>
      <button type="button" class="btn" routerLink="/proveedores">Proveedores</button>
      <button type="button" class="btn" routerLink="/Ingrediente">Ingrediente</button>
      <button type="button" class="btn" routerLink="/proveedores">Inventario</button>
      <button type="button" class="btn" routerLink="/proveedores">Factura</button>
      <button type="button" class="btn" routerLink="/proveedores">Detalles de factura</button>
    </div>
  </div>

</body>
</html>
