<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="container">
    <div class="btn-group-vertical">
      <button type="button" class="btn btn-primary" routerLink="/usuario">Usuarios</button>
      <button type="button" class="btn btn-primary" routerLink="/producto">Producto</button>
      <button type="button" class="btn btn-primary" routerLink="/categoria">Categoria</button>
      <button type="button" class="btn btn-primary" routerLink="/proveedores">Proveedor</button>

    </div>
  </div>

</body>
</html>

