<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DoniBites</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rancho&display=swap">
  <link rel="stylesheet" href="menu.component.css">
</head>
<body>

  <div class="container">
    <!-- Botón de Cerrar Sesión -->
    <div class="logout-btn-container">
      <button class="btn logout-btn" routerLink="/login">Cerrar Sesión</button>
    </div>

    <div class="btn-group-vertical">
      <h1>DoniBites</h1>
      <!-- Botones -->
      <button type="button" class="btn" routerLink="/usuario">Usuarios</button>
      <button type="button" class="btn" routerLink="/producto">Productos</button>
      <button type="button" class="btn" routerLink="/categoria">Categorias</button>
      <button type="button" class="btn" routerLink="/proveedores">Proveedores</button>
    </div>
  </div>

</body>
</html>
