/* Estilos para el cuerpo */
body {
  background: rgb(45, 49, 66); /* Agrega un gradiente de fondo */
  margin: 0; /* Elimina el margen predeterminado del cuerpo */
  font-family: "Raleway", sans-serif;
  /* Usa una fuente de respaldo */

}


.sidebar {
  width: 250px;
  height: 100vh;

  margin-top: 100px; /* Ajusta el valor según sea necesario */

  background: rgba(191, 192, 192, 0.2); /* Aumenta la transparencia */
  backdrop-filter: blur(15px); /* Incrementa el desenfoque */
  -webkit-backdrop-filter: blur(15px); /* Compatibilidad con Safari */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Borde más sutil */
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.link:hover,
.link.active {
  background-color: rgba(145, 142, 244,0.4); /* Fondo semitransparente en hover */
  color: #fff;
}

.link .icon {
  margin-right: 10px;
}

.link i {
  margin-right: 10px; /* Espacio entre el icono y el texto */
}
.sidebar-footer {
  display: flex;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.3); /* Línea divisoria con transparencia */
}

.sidebar-footer .profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.sidebar-footer .username {
  color: #fff;
}
.sidebar-footer .profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.sidebar-footer .username {
  color: #cfd8dc;
}


.container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
