body{
  background: linear-gradient(to right,#EE696B, #523A78); /* Agrega un gradiente de fondo */

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn-group-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 70vh;
  gap: 1rem;


}

.btn-primary{
  background-color: rgba(239, 240, 240, 0.5); /* Agrega transparencia a los botones */
border-color: aliceblue;

}

.btn-primary {
  padding: 1rem 2rem;
}
