<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Facturas</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rancho&display=swap">
  <link rel="stylesheet" href="factura.component.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>


  <app-navbar></app-navbar>
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>


  <div class="wrapper">
    <!-- Contenido principal -->
    <div class="main-content">
      <div class="header">
        <div class="title">
          <h1>Tabla de Facturas</h1>
        </div>
      </div>

      <div class="actions">
        <input type="text" placeholder="Buscar facturas..." (input)="buscarFactura($event)" class="search-input">
        <div class="btn-group dropright">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Descargar facturas
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#" (click)="descargarLista('pdf')">Descargar PDF</a></li>
            <li><a class="dropdown-item" href="#" (click)="descargarLista('excel')">Descargar Excel</a></li>
          </ul>
        </div>
      </div>

      <table class="factura-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Fecha de Factura</th>
            <th>Descripción del Pedido</th>
            <th>RUC</th>
            <th>Monto Pagado</th>
            <!-- <th>Estado</th> -->
            <th>Fecha de Pedido</th>
            <th>Fecha de Entrega Esperada</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let factura of facturasFiltradas">
            <td>{{factura.id}}</td>
            <td>{{factura.invoiceDate | date: 'short'}}</td>
            <td>{{factura.order.description}}</td>
            <td>{{factura.ruc}}</td> <!-- Aquí asumo que la cantidad es el número de detalles del pedido -->
            <td>{{factura.paidAmount | currency}}</td>
            <!-- <td>{{factura.status}}</td> -->
            <td>{{factura.order.orderDate | date: 'short'}}</td>
            <td>{{factura.order.expectedDeliverDate | date: 'short'}}</td>
            <td>
              <div class="actions">
                <a [routerLink]="['/visualizar-factura', factura.id]" class="btn btn-primary btn-visualize" title="Ver factura">
                  <i class="fa-solid fa-eye"></i>
                </a>
                <a [routerLink]="['/actualizar-factura', factura.id]" class="btn btn-primary btn-update" title="Editar factura">
                  <i class="fa-solid fa-pen"></i>
                </a>
                <a [routerLink]="['/eliminar-factura', factura.id]" class="btn btn-primary btn-delete" title="Eliminar factura">
                  <i class="fa-solid fa-trash"></i>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Botón "Agregar nuevo" en la parte inferior derecha -->

        <a [routerLink]="['/agregar-factura']" class="btn btn-primary btn-success" title="Agregar nueva factura">
          Agregar Factura
          <i class="fa-solid fa-plus"></i>
        </a>

    </div>
  </div>

</body>
</html>
