<div class="main-container">
  <aside class="sidebar">
    <!-- Contenido del Sidebar -->
  </aside>
  <section class="content">
    <div class="container d-flex justify-content-center align-items-center">
      <div class="row justify-content-center mt-5">
        <div class="col-md-4">
          <div class="card text-center card-madder mb-4"> <!-- Madder -->
            <div class="card-body">
              <h5 class="card-title">Total Productos</h5>
              <p class="card-text">{{ totalProductos }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center card-columbia-blue mb-4"> <!-- Columbia Blue -->
            <div class="card-body">
              <h5 class="card-title">Total Ingredientes</h5>
              <p class="card-text">{{ totalIngredientes }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center card-indigo-dye mb-4"> <!-- Indigo Dye -->
            <div class="card-body">
              <h5 class="card-title">Total Proveedores</h5>
              <p class="card-text">{{ totalProveedores }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center card-teal mb-4"> <!-- Teal -->
            <div class="card-body">
              <h5 class="card-title">Entradas de Inventario</h5>
              <p class="card-text">{{ totalEntradas }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center card-madder mb-4"> <!-- Madder -->
            <div class="card-body">
              <h5 class="card-title">Salidas de Inventario</h5>
              <p class="card-text">{{ totalSalidas }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center card-columbia-blue mb-4"> <!-- Columbia Blue -->
            <div class="card-body">
              <h5 class="card-title">Total de Categorías</h5>
              <p class="card-text">{{ totalCategorias }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
