.main-container {
  display: flex;
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
}

.sidebar {
  width: 250px;
  margin-right: 20px;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  padding: 20px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card:hover {
  transform: translateY(-3px);
}

/* Colores para las tarjetas */
/* Colores para las tarjetas */
.card-madder {
  background-color: #211A1D; /* Raisin black */
  color: #fff;
}

.card-columbia-blue {
  background-color: #6320EE; /* Electric indigo */
  color: #fff;
}

.card-indigo-dye {
  background-color: #8075FF; /* Medium slate blue */
  color: #fff;
}

.card-teal {
  background-color: #F8F0FB; /* Magnolia */
  color: #000;
}

.card-primary {
  background-color: #CAD5CA; /* Ash gray */
  color: #000;
}




.card-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 24px;
  font-weight: bold;
}

/* Asignación de color de texto */
.text-white {
  color: #fff !important;
}
