<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestión de Productos</title> <!-- Título más descriptivo -->
</head>
<body>

  <!-- Enrutador para cambiar entre componentes -->
  <router-outlet></router-outlet>
   <!-- <app-add-ingredient></app-add-ingredient> -->
    <!-- <app-ingredientes></app-ingrediente> -->
   <!-- <app-agregar-categoria></app-agregar-categoria> -->
<!-- <app-visualizar-categoria>  </app-visualizar-categoria> -->
<!-- <<app-rol></app-rol> -->
 <!-- <app-add-ingredient></app-add-ingredient> -->
</body>
</html>
