<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visualizar Ingrediente</title>
</head>
<body>

  <nav class="navbar">
    <!-- <span class="logo">DoniBites</span> -->
    <i class="fas fa-user user-icon"></i>
  </nav>


  <div class="wrapper">
    <form>
      <h1 class="text-center"> Visualizar Ingrediente</h1>
      <!-- Campo para el primer input con margen inferior -->
      <div class="form-group mb-3">
        <label for="exampleInput1" class="form-label">Id</label>
        <input type="text" class="form-control" id="exampleInput1" [value]="ingredient?.id" readonly>
      </div>

      <!-- Campo para el segundo input con margen inferior -->
      <div class="form-group mb-3">
        <label for="exampleInput2" class="form-label">Ingrediente</label>
        <input type="text" class="form-control" id="exampleInput2" [value]="ingredient?.name" readonly>
      </div>

      <div class="form-group mb-3">
        <label for="unitInput" class="form-label">Unidad de medida</label>
        <input type="text" class="form-control" id="unidadInput"  [value]="ingredient?.unit" name="unit" readonly>
      </div>

      <!-- Botón de envío centrado -->
      <div class="text-center">
        <button type="submit" class="btn btn-primary" routerLink="/categoria">Cerrar</button>
      </div>
    </form>
  </div>
</body>
</html>
