<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabla de productos</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rancho&display=swap">
  <link rel="stylesheet" href="producto.component.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- Añadir Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> <!-- Añadir Bootstrap JS -->
</head>
<body>

  <app-navbar></app-navbar>
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>

<!------------------sidebar end----------->


  <div class="wrapper">
    <div class="main-content">

    <div class="header">
      <div class="title">
        <h1>Tabla de productos</h1>
      </div>
    </div>
    <div class="actions">
      <input type="text" placeholder="Buscar producto..." (input)="searchProduct($event)" class="search-input">
      <div class="btn-group dropright">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          Descargar productos
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#" (click)="downloadPDF(); $event.preventDefault()">Descargar PDF</a></li>
          <li><a class="dropdown-item" href="#" (click)="downloadExcel(); $event.preventDefault()">Descargar Excel</a></li>
        </ul>
      </div>
    </div>
    <table class="product-table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Producto</th>
          <th>Descripción</th>
          <th>Existencia</th>
          <th>Categoría</th>
          <th>Nombre</th>
          <th>Precio por unidad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of filteredProducts">
          <td>{{producto.id}}</td>
          <td>{{producto.name}}</td>
          <td>{{producto.description}}</td>
          <td>{{producto.qty}}</td>
          <td>{{producto.category.id}}</td>
          <td>{{producto.category.name}}</td>
          <td>{{producto.unitPrice}}</td>
          <td>
            <div class="actions">
              <a [routerLink]="['/visualizar-producto', producto.id]" class="btn btn-primary btn-visualize" title="Visualizar producto">
                <i class="fas fa-eye"></i>
              </a>

              <a [routerLink]="['/actualizar-producto', producto.id]" class="btn btn-primary btn-update" title="Actualizar producto">

                <i class="fas fa-pencil"></i>
              </a>

              <a [routerLink]="['/eliminar-producto', producto.id]" class="btn btn-primary btn-delete" title="Eliminar producto">
                <i class="fas fa-trash"></i>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
      <a [routerLink]="['/agregar-producto']" class="btn btn-primary btn-success" title="Agregar un nuevo producto">
        Agregar producto
        <i class="fa-solid fa-plus"></i>
      </a>
    </div>
  </div>
</body>
</html>
