<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agregar Proveedor</title>
</head>
<body>

<div class="wrapper">
  <form (ngSubmit)="guardarProveedor()">
    <h1 class="text-center">Agregar Proveedor</h1>
    <!-- Campo para el ID del proveedor -->
    <!-- <div class="form-group mb-3">
      <label for="idInput" class="form-label">ID</label>
      <input type="text" class="form-control" id="idInput" placeholder="ID del proveedor" name="id" [(ngModel)]="id" required>
    </div> -->

    <!-- Campo para el nombre del proveedor -->
    <div class="form-group mb-3">
      <label for="proveedorInput" class="form-label">Proveedor</label>
      <input type="text" class="form-control" id="proveedorInput" placeholder="Nombre del proveedor" name="proveedor" [(ngModel)]="proveedor" required>
    </div>

    <!-- Campo para la dirección del proveedor -->
    <div class="form-group mb-3">
      <label for="direccionInput" class="form-label">Dirección</label>
      <input type="text" class="form-control" id="direccionInput" placeholder="Dirección del proveedor" name="direccion" [(ngModel)]="direccion" required>
    </div>

    <!-- Campo para el teléfono del proveedor -->
    <div class="form-group mb-3">
      <label for="telefonoInput" class="form-label">Teléfono</label>
      <input type="text" class="form-control" id="telefonoInput" placeholder="Teléfono del proveedor" name="telefono" [(ngModel)]="telefono" required>
    </div>

    <!-- Campo para el correo electrónico del proveedor -->
    <div class="form-group mb-3">
      <label for="correoInput" class="form-label">Correo Electrónico</label>
      <input type="email" class="form-control" id="correoInput" placeholder="Correo Electrónico del proveedor" name="correo" [(ngModel)]="correoElectronico" required>
    </div>

    <!-- Campo para seleccionar el estado del proveedor -->
 <div class="form-group mb-3">
      <label for="estadoInput" class="form-label">Estado del proveedor</label>
      <select class="form-control" id="estadoInput" name="estado" [(ngModel)]="estadoProveedor" required>
        <option value="activo">Activo</option>
        <option value="inactivo">Inactivo</option>
      </select>
    </div>

    <!-- Botón de envío centrado -->
    <div class="text-center">
      <button type="button" class="btn btn-primary btn-add" (click)="guardarProveedor()">Guardar</button>
      <button type="button" class="btn-cancel" routerLink="/proveedor">Cancelar</button>

    </div>
  </form>
</div>

</body>
</html>
