<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperar Contraseña</title>
  <link rel="stylesheet" href="recuperar-pwd.component.css">
</head>
<body>
  <div class="container">
    <h1>Recuperar Contraseña</h1>
    <form #recuperarForm="ngForm" (ngSubmit)="enviarUsuario()" novalidate>
      <div class="form-group">
        <label for="usuario">Ingrese su nombre de usuario</label>
        <input type="text" class="form-control" id="usuarioInput" placeholder="Nombre de usuario" name="usuario" [(ngModel)]="usuario" required>
      </div>
      <button type="submit">Enviar</button>
    </form>
  </div>
</body>
</html>
