<p>stock works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabla de ingredientes</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rancho&display=swap">
  <link rel="stylesheet" href="ingredientes.component.css">
</head>
<body>
  <div class="sidebar">
    <div class="sidebar-header">
      <h3>
        DoniBites
        <img src="assets/donut.png"  style="width: 50px; height: 45px; vertical-align: middle; margin-right: 8px;">

    </h3>

    </div>
    <hr>
    <div class="sidebar-menu">

      <a href="/menu" class="link active d-flex align-items-center">
        <span class="text">Home</span>
        <i class="bi bi-house-door-fill ms-2"></i>
    </a>
      <a href="/usuario" class="link">
        <i class="icon-user"></i><span class="text">Usuarios</span>
      </a>
      <a href="/categoria" class="link">
        <i class="icon-category"></i><span class="text">Categorias</span>
      </a>
      <a href="/producto" class="link">
        <i class="icon-product"></i><span class="text">Productos</span>
      </a>
      <a href="/proveedores" class="link">
        <i class="icon-supplier"></i><span class="text">Proveedores</span>
      </a>
    </div>
    <div class="sidebar-footer">
      <img src="profile.jpg" alt="User" class="profile-pic">
      <span class="username">mdo</span>
    </div>
  </div>

  <div class="wrapper">
    <!-- <div class="back-btn-container">
      <button class="btn back-btn" routerLink="/menu">Regresar</button>
    </div> -->
    <div class="header">
      <div class="title">
        <h1>Tabla de Ingredientes</h1>
      </div>
    </div>
    <div class="actions">
      <input type="text" placeholder="Buscar ingredientes..." (input)="searchIngredient($event)" class="search-input">
      <button class="btn-add" routerLink="/add-ingredient">AGREGAR</button>
      <button (click)="downloadList()" class="btn-download">Descargar lista</button>
    </div>
    <table class="table-ingredient">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Unidad de medida</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingredient of filterIngredient">
          <td>{{ingredient.id_inventario}}</td>
          <td>{{ingredient.lote}}</td>
          <td>{{ingredient.cantidadExistent}}</td>
          <td>{{ingredient.fechaVencimiento}}</td>
          <td>{{ingredient.cantidadExistent}}</td>
          <td>{{ingredient.proveedor}}</td>
          <td>
            <div class="actions">
              <a [routerLink]="['/view-stock', ingredient.id]" class="btn-action">
                <i class="fas fa-eye"></i>
              </a>
              <a [routerLink]="['/update-stock', ingredient.id]" class="btn-action">
                <i class="fas fa-pencil"></i>
              </a>
              <a [routerLink]="['/delete-stock', ingredient.id]" class="btn-action">
                <i class="fas fa-trash"></i>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
