/* Body centrado y con fondo de gradiente */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to right, #EE696B, #523A78); /* Gradiente de fondo */
  font-family: Arial, sans-serif; /* Fuente más legible */
  padding: 0;
}

/* Contenedor principal con alineación centrada */
.wrapper {
  max-width: 800px; /* Ancho máximo del contenido */
  margin: 50px auto; /* Margen superior e inferior */
  padding: 20px; /* Espaciado interno */
  background-color: rgb(255, 255, 255); /* Color de fondo con transparencia */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Cabecera con alineación entre elementos y color */
.header {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between; /* Alineación equitativa */
  align-items: center;
  justify-content: center;
  color: #EE696B;
  padding: 2% 0; /* Reduce el padding vertical */
  font-family: 'Parisienne', cursive; /* Aplica la fuente 'Parisienne' con cursiva */
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px 5px #ffffff; /* Sombreado blanco */
}

.header button {
  background-color: black;
  color: white;
  font-size: 0.8rem; /* Usar rem para consistencia */
  position: relative;
  top: 16px; /* Posición fija en relación a su contenedor */
  margin-left: 62%; /* Empuja el botón hacia el borde derecho */
  margin-bottom: 3%;
}

/* Estilo para la tabla */
.table {
  width: 60%; /* Ancho del 60% del contenedor */
  padding: 20px; /* Espaciado interno */
  border: 1px solid aliceblue; /* Borde claro */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  font-size: 0.8rem; /* Consistente con los botones */
  padding-top: 2%;
}

/* Contenedor para acciones con alineación y espaciado */
.actions {
  display: flex;
  justify-content: space-between; /* Alineación equitativa */
  gap: 5px; /* Espaciado entre elementos */
}

/* Botón para agregar elementos con estilo flotante */
.btn-add {
  background-color: #EE696B; /* Color de fondo */
  color: #fff; /* Color del texto */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px; /* Agregamos margen inferior para separarlo de la tabla */
  border: 2px solid transparent; /* Agregamos un borde transparente */

}

.btn-add:hover {
  background-color: #CC4E5C; /* Cambio de color al pasar el ratón */
  border-color: #CC4E5C; /* Cambiamos el color del borde al pasar el ratón */
}

/* Estilos para la tabla */
.tabla-categoria {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.tabla-categoria th,
.tabla-categoria td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tabla-categoria th {
  background-color: #EE696B; /* Color de fondo del encabezado */
  color: #fff; /* Color de texto del encabezado */
}

.tabla-categoria td {
  background-color: #fff; /* Color de fondo de las celdas */
}

/* Estilos para los botones de acciones */
.btn-action {
  background-color: #EE696B; /* Color de fondo de los botones de acciones */
  color: #fff; /* Color de texto de los botones de acciones */
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-action:hover {
  background-color: #EE696B; /* Cambio de color al pasar el ratón */
}

.back-btn-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.back-btn {
  font-family: 'Rancho', cursive;
  padding: 10px 20px;
  background-color: #EE696B;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.back-btn:hover {
  background-color: #EE696B;
}
